body {
	background-color: #e9eaee42;
}

.fade-row {
	transition: opacity 0.5s ease, height 0.5s ease, margin-bottom 0.5s ease;
	opacity: 1;
	height: auto;
	margin-bottom: 0;
}

.fade-row.fade-exit {
	opacity: 0;
	transform: translateX(100%) scale(0.5);
	height: 0;
	margin-bottom: -16px;
	transition: opacity 1s ease, transform 1s ease, height 1s ease, margin-bottom 1s ease;
}
